/* ---- site variables ---- */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

$titillium: 'Titillium Web', sans-serif;
$color-primary: #4A3933;
$color-secondary:#F0A500;
$color-tertiary:#E45826;
