/* ---- site variables ---- */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

$titillium: 'Titillium Web', sans-serif;
$color-primary: #4A3933;
$color-secondary:#F0A500;
$color-tertiary:#E45826;

$feature-video-overlay: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(6,6,6,0.3379945728291317) 100%);