* {
    transition: all 0.2s linear;
}

body {
    font-family: $titillium;
    font-size: 16px;
    line-height: 18px;
    min-height: 100vh;
    min-height: 100dvb;

    background-color: #4a393300;
    animation-name: backgroundFadeOut;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

h2 {
    font-size: 36px;
    line-height: 24px;
}

h3 {
    font-size: 24px;
    line-height: 21px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

@keyframes zoomOut {
    0% {
        transform: translateY(40vh) scale(2.5);
    }

    100% {
        transform: translateY(0vh) scale(1);
    }
}

@keyframes leftToRight {
    0% {
        left: -120%;
    }

    100% {
        left: 0;
    }
}

@keyframes rightToLeft {
    0% {
        right: -120%;
    }

    100% {
        right: 0;
    }
}

@keyframes backgroundFadeOut {
    0% {
        background-color: #4a393300;
    }
    
    100% {
        background-color: $color-primary;
    }
}