* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

ul,
ol {
    list-style: none;
}

h1, h2, h3{
    font-family: $type-face-secondary;
    color: $color-primary;
    font-weight: 400;
    text-transform: uppercase;
}

h1{
    font-size: 44px;
    line-height: 53px;
}

h2{
    font-size: 36px;
    line-height: 43px;
}

h3 {
    font-size: 18px;
}

body {
    font-family: $type-face-primary;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: $color-body;
}

.btn{
    display: inline-block;
    border: 6px solid #fff;
    background-color: $color-primary;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $type-face-secondary;
    font-weight: 400;
    padding: 5px 10px;
    font-size: 18px;
    width: fit-content;
    height: 52px;
}

.container{
    padding: 25px;
    width: clamp(360px, 100%, 1366px);
    margin: 0 auto;
}

@keyframes expandHeader {
    0%{
        height: 72px;
        background-color: $color-primary;
    }
    100%{
        height: 100dvh;
        background-color: #000000e3;
    }
}


@keyframes closeHeader {
    0%{
        height: 100dvh;
        background-color: #000000e3;
    }
    
    100%{
        height: 72px;
        background-color: $color-primary;
    }
}

@keyframes showMenu {
    0%{
        opacity: 0;
    }
    
    100%{
       opacity: 1;
    }
}

@keyframes hideMenu {
    0%{
        opacity: 1;
    }
    
    100%{
       opacity: 0;
    }
}