.slider {
    width: 100%;
    height: calc(100dvh - 72px);
    background-color: $color-primary;
    position: relative;
    margin-top: 72px;
    overflow: hidden;
    position: relative;

    .item {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #00000075;
        background-blend-mode: overlay;

        img {
            width: 270px;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: contain;
            object-position: center;
            opacity: 0;
            backdrop-filter: blur(1px);
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
            padding: 0 10px;
            opacity: 0;
            transform: translateY(-200px);
        }

        h1 {
            color: #fff;
            font-family: $type-face-tertiary;
            word-spacing: 5px;
            letter-spacing: 5px;
            text-align: center;
        }

        &.active {
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-fill-mode: forwards;
            z-index: 2;

            img,
            .info {
                animation-duration: 2s;
                animation-delay: 1s;
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                animation-fill-mode: forwards;
            }

            img {
                animation-name: fadeIn;
                animation-duration: 3s;
            }

            .info {
                animation-name: slideUp;
            }
        }

        &.hide {
            animation-duration: 3s;
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-fill-mode: forwards;
        }
    }

    &[slider-direction="next"] {
        .item.active {
            animation-name: showSlider;
        }

        .item.hide {
            animation-name: hideSlider;
        }
    }

    &[slider-direction="prev"] {
        .item.active {
            animation-name: showSliderReverse;
        }

        .item.hide {
            animation-name: hideSliderReverse;
        }
    }

    >img {
        width: 45px;
        height: 45px;
        cursor: pointer;
        position: absolute;
        top: calc(50% - 22px);
        z-index: 3;

        &#prev {
            left: 0px;
        }

        &#next {
            right: 0px;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    @media screen and (min-width:981px) {
        >img {
            &#prev {
                left: 50px;
            }

            &#next {
                right: 50px;
            }
        }

        .item {
            flex-direction: row;

            img{
                width: 360px;
                padding: 20px;
            }

            .info{
                flex: 0 1 55%;
            }
        }
    }
}