main {
    position: relative;

    section.intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 79vh;
        min-height: 70dvb;
        padding: 40px 20px;
        position: relative;
        overflow: hidden;
        text-align: center;
        color: #fff;

        >* {
            z-index: 1;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: $intro-overlay;
            z-index: 0;
            opacity: 0.8;
        }

        &::after {
            background: $intro-overlay-reverse;
        }


        img:first-of-type {
            position: absolute;
            inset: 0;
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: 0 -100px;
            z-index: -1;
        }

        img:last-of-type {
            width: 200px;
            height: auto;
            margin-bottom: 40px;
            filter: drop-shadow(0px 1px 0px #ffffff80);
        }

        h2 {
            margin-bottom: 35px;
            letter-spacing: 5px;
        }

        p {
            width: clamp(320px, 80vw, 800px);
            font-size: 18px;
            font-weight: 300;
        }

    }

    section:not(.intro) {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        

        &>div:first-child {
            display: flex;
            flex: 1 1 480px;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            >div{
                flex: 0 1 40%;

                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            // background: #8ed6ae52;
        }

        &>div:last-child {
            position: relative;
            flex:0 1 500px;
            width: 100%;

            div {
                position: absolute;
                inset: 0;
                clip: rect(0 auto auto 0);
            }

            img {
                position: fixed;
                inset: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &#about h2::before{
            background-image: url(../images/icon-about-us.png);
        }

        &#service h2::before{
            background-image: url(../images/icon-services.png);
        }
        
        &#hours h2::before{
            background-image: url(../images/icon-opening-hours.png);
        }
    }
}