main {
    // margin-top: 280px;
    height: 200dvb;
    position: relative;

    .video-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        min-width: 100vw;
        min-height: 100vh;
        min-height: 100dvb;


        #featureVideo {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        div {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: $feature-video-overlay;
        }
    }
}