main#aboutus {
    .info {
        background-color: #f1f1f1;

        .container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 'title'
                'image'
                'content';
            align-items: center;

            h2 {
                grid-area: title;
                height: fit-content;
            }

            img {
                grid-area: image;
                width: 100%;
                height: auto;
                max-height: 400px;
                object-fit: cover;
                object-position: center;
                margin-bottom: 30px;
            }

            >div {
                grid-area: content;
            }

            p:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }

    @media screen and (min-width:981px) {
        .info .container {
            grid-template-columns: 1fr 400px;
            grid-template-areas: 'title image'
                'content image';
            gap: 20px 50px;

            h2{
                margin-bottom: 0px;
            }

            img{
                margin-bottom: 0px;
            }
        }
    }
}