main#thankyouforyourbookingpage {
    .container{
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1{
        color: $color-body;
    }

}