header.main {
    padding: 25px 0 20px;
    position: relative;
    z-index: 99;
    background-color: $color-primary;

    &.fixed {
        position: fixed;
        top: -265px;
        left: 0px;
        right: 0px;
        opacity: 0.93;

        animation-name: fixedToTop;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &::before,
    &::after {
        content: '';
        width: 50%;
        position: absolute;
        bottom: 0px;
    }

    &::before {
        border-top: 6px solid $color-header-before;
        left: 0;
    }

    &::after {
        border-top: 6px solid $color-header-after;
        right: 0;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        position: relative;

        &.container {
            width: clamp(320px, 100%, 1280px);
        }

        a {
            flex: 1 1 fit-content;
            display: flex;
            text-decoration: none;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            position: relative;
            color: #ffffff;
            letter-spacing: 1px;

            &:hover {
                color: $color-secondary;
            }

            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {
                    left: 0;
                }
            }

            @for $i from 5 through 7 {
                &:nth-of-type(#{$i}) {
                    right: 0;
                }
            }

            &.logo {
                flex: 1 0 150px;
                flex-direction: column;
                margin: 0 40px;
                transform: scale(1.0);

                img {
                    width: 100%;
                    flex: 1 1 auto;
                    filter: invert(1) drop-shadow(-3px 2px 13px $color-secondary);
                }

                button {
                    display: none;
                }
            }
        }

        img {
            max-width: 250px;
            height: auto;
        }
    }

    @media screen and (max-width:991px) {
        padding: 0;
        nav {
            flex-direction: column;
            gap: 0;

            a {
                font-size: 16px;
                width: 100%;
                flex: 1 1 auto;
                justify-content: center;

                &.logo {
                    order: -1;
                    flex-direction: row;
                    margin: 0 auto;

                    button {
                        display: flex;
                    }
                }
            }
        }
    }
}



header.main.header-animate {
    overflow: hidden;
    
    &::before,
    &::after {
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }

    &::before {
        left: -120%;
        animation-name: leftToRight;
    }

    &::after {
        right: -120%;
        animation-name: rightToLeft;
    }

    nav a {
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-delay: 2s;
        animation-fill-mode: forwards;

        @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
                left: -120%;
                animation-name: leftToRight;
            }
        }

        @for $i from 5 through 7 {
            &:nth-of-type(#{$i}) {
                right: -120%;
                animation-name: rightToLeft;
            }
        }

        &.logo {
            transform: scale(2.1);
            animation-name: zoomOut;
            animation-duration: 3s;
            animation-iteration-count: 1;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }
    }
}