.hamburger {
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 3;
}

#hamburger-toggle {
    display: none;
}

.hamburger-button,
.hamburger-button::before,
.hamburger-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.hamburger-button::before {
    content: '';
    margin-top: -8px;
}

.hamburger-button::after {
    content: '';
    margin-top: 8px;
}

#hamburger-toggle:checked+.hamburger .hamburger-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#hamburger-toggle:checked+.hamburger .hamburger-button {
    background: rgba(255, 255, 255, 0);
}

#hamburger-toggle:checked+.hamburger .hamburger-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 991px) {
    .hamburger {
        display: flex;
    }

    #hamburger-toggle {
        &~a:not(.logo) {
            height: 0;
            position: absolute;
            top: -100%;
            // display: none;
            transition: height 0.3s cubic-bezier(0.23, 1, 0.32, 1);

            &:not(:last-of-type){
                border-bottom: 1px solid #f0cf851c;
            }
        }

        &:checked~a {
            // display: flex;
            position: relative;
            top: auto;
            height: 50px;
            transition: height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}