/* ---- site variables ---- */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600&family=Poppins:wght@200;400&family=Rubik+Doodle+Shadow&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

@keyframes expandHeader {
  0% {
    height: 72px;
    background-color: #111111;
  }
  100% {
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.9607843137);
  }
}
@keyframes closeHeader {
  0% {
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8901960784);
  }
  100% {
    height: 72px;
    background-color: #111111;
  }
}
@keyframes showMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showSlider {
  0% {
    left: 120%;
  }
  100% {
    left: 0%;
  }
}
@keyframes showSliderReverse {
  0% {
    left: -120%;
  }
  100% {
    left: 0%;
  }
}
@keyframes hideSlider {
  0% {
    left: 0%;
    z-index: 2;
  }
  50% {
    left: -120%;
    z-index: -1;
  }
  100% {
    left: 0%;
    z-index: -1;
  }
}
@keyframes hideSliderReverse {
  0% {
    left: 0%;
    z-index: 2;
  }
  50% {
    left: 120%;
    z-index: -1;
  }
  100% {
    left: 0%;
    z-index: -1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
ul,
ol {
  list-style: none;
}

h1,
h2,
main#contactus dt,
h3,
footer.main dt,
footer.main .other-links-wrapper > h3 {
  font-family: "Poppins", sans-serif;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-family: "Rubik Doodle Shadow", sans-serif;
  word-spacing: 5px;
  letter-spacing: 5px;
  text-align: center;
  font-size: 34px;
  line-height: 43px;
}

h2, main#contactus dt {
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 20px;
  width: fit-content;
  position: relative;
}
h2::before, main#contactus dt::before {
  content: "";
  width: 100%;
  height: 2px;
  background: rgba(240, 207, 133, 0.6588235294);
  position: absolute;
  left: 0;
  bottom: -2px;
}

h3, footer.main dt, footer.main .other-links-wrapper > h3 {
  font-size: 18px;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #15191e;
  background-color: #f1f1f1;
}

strong {
  font-weight: 600;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 6px solid #fff;
  background-color: #111111;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 5px 10px;
  font-size: 18px;
  width: fit-content;
  height: 52px;
}
.btn:hover {
  filter: invert(1);
}

.container {
  padding: 40px 25px;
  width: clamp(360px, 100%, 1366px);
  margin: 0 auto;
}

main {
  margin-top: 72px;
}

.feature-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75dvh;
  position: relative;
  margin-top: 72px;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4588235294);
  background-blend-mode: overlay;
}
.feature-img-wrapper img {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.feature-img-wrapper h1 {
  opacity: 0;
  transform: translateY(-200px);
  animation-name: slideUp;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}

p > a {
  color: #e3bd6a;
}

@media screen and (min-width: 981px) {
  h1 {
    font-size: 78px;
    line-height: 85px;
  }
  h3, footer.main dt, footer.main .other-links-wrapper > h3 {
    font-size: 20px;
  }
  body {
    font-size: 18px;
    line-height: 26px;
  }
  .container {
    padding: 60px 25px;
  }
}
header.main {
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  overflow: hidden;
  z-index: 11;
}
header.main .container {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-areas: "hamburger booknow" "menuwrapper menuwrapper";
  align-content: start;
  padding: 0;
}
header.main .container > * {
  padding: 10px;
}
header.main #hamburger {
  grid-area: hamburger;
  display: flex;
  align-items: center;
  height: 72px;
}
header.main #hamburger img {
  width: 32px;
  height: 32px;
}
header.main #hamburger .close {
  display: none;
}
header.main .menu-wrapper {
  grid-area: menuwrapper;
  padding: 10px 20px;
  opacity: 0;
}
header.main .menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
header.main .menu li {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  border-bottom: 1px solid rgba(240, 207, 133, 0.1215686275);
}
header.main .menu li.current-menu-item a {
  color: #F0CF85;
}
header.main .menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-transform: uppercase;
}
header.main .menu a:hover {
  text-decoration: underline;
  color: #F0CF85;
}
header.main .booknow {
  grid-area: booknow;
  display: flex;
  justify-content: flex-end;
  background-color: #F0CF85;
  position: relative;
  height: 72px;
}
header.main .booknow::before {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 86px;
  border-right-color: #F0CF85;
  border-top-width: 157px;
  position: absolute;
  left: -74px;
  top: -85px;
}
header.main .booknow::after {
  content: "";
  width: 100vw;
  height: 72px;
  background-color: #F0CF85;
  position: absolute;
  left: 99%;
  top: 0;
}
header.main .booknow img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 980px) {
  body.open-menu header.main {
    animation-name: expandHeader;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
  }
  body.open-menu header.main #hamburger .close {
    display: block;
  }
  body.open-menu header.main #hamburger .open {
    display: none;
  }
  body.open-menu header.main .menu-wrapper {
    animation-name: showMenu;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
  }
  body.close-menu header.main {
    animation-name: closeHeader;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  body.close-menu header.main .menu-wrapper {
    animation-name: hideMenu;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
  }
}
@media screen and (min-width: 981px) {
  header.main .container {
    grid-template-areas: "menuwrapper booknow";
  }
  header.main #hamburger {
    display: none;
  }
  header.main .menu-wrapper {
    opacity: 1;
  }
  header.main .menu {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 50px;
  }
  header.main .menu li {
    border: none;
  }
}
footer.main {
  background-color: #111111;
  font-size: 16px;
}
footer.main .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px 20px;
}
footer.main h3, footer.main .other-links-wrapper > h3,
footer.main dt,
footer.main dd,
footer.main a {
  color: #fff;
  text-decoration: none;
}
footer.main dt, footer.main .other-links-wrapper > h3, footer.main .other-links-wrapper > dt {
  margin-bottom: 10px;
}
footer.main .social a {
  display: inline-block;
  width: 35px;
  height: 35px;
}
footer.main .social a img {
  width: 100%;
  height: 100%;
  filter: invert(1);
}
footer.main .social a:hover {
  transform: scale(1.1);
}
footer.main .social dd {
  display: flex;
  gap: 15px;
}
footer.main dd, footer.main .other-links-wrapper > div {
  padding-left: 10px;
}
footer.main dd a:hover, footer.main .other-links-wrapper > div a:hover {
  color: #F0CF85;
  text-decoration: underline;
}
footer.main .current-menu-item a {
  color: #F0CF85;
}
footer.main .copyright {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
  color: #e3bd6a;
  background: #090908;
}
@media screen and (min-width: 981px) {
  footer.main .container {
    grid-template-columns: repeat(3, 1fr);
  }
  footer.main .social {
    justify-self: center;
  }
  footer.main .other-links-wrapper {
    justify-self: end;
  }
}

.slider {
  width: 100%;
  height: 75dvh;
  background-color: #111111;
  position: relative;
  margin-top: 72px;
  overflow: hidden;
  position: relative;
}
.slider .item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4588235294);
  background-blend-mode: overlay;
}
.slider .item img {
  width: 200px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
  opacity: 0;
  backdrop-filter: blur(4px);
}
.slider .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 10px;
  opacity: 0;
  transform: translateY(-200px);
}
.slider .item.active {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
  z-index: 2;
}
.slider .item.active img,
.slider .item.active .info {
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}
.slider .item.active img {
  animation-name: fadeIn;
  animation-duration: 3s;
}
.slider .item.active .info {
  animation-name: slideUp;
}
.slider .item.hide {
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}
.slider[slider-direction=next] .item.active {
  animation-name: showSlider;
}
.slider[slider-direction=next] .item.hide {
  animation-name: hideSlider;
}
.slider[slider-direction=prev] .item.active {
  animation-name: showSliderReverse;
}
.slider[slider-direction=prev] .item.hide {
  animation-name: hideSliderReverse;
}
.slider > img {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 22px);
  z-index: 3;
}
.slider > img#prev {
  left: 0px;
}
.slider > img#next {
  right: 0px;
}
.slider > img:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 981px) {
  .slider > img#prev {
    left: 50px;
  }
  .slider > img#next {
    right: 50px;
  }
  .slider .item {
    flex-direction: row;
  }
  .slider .item img {
    width: clamp(360px, 100%, 26%);
    padding: 20px;
  }
  .slider .item .info {
    flex: 0 1 55%;
  }
}

main#home .services-hours-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px 50px;
}
main#home .services .sln-datashortcode--services .sln-datalist {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 10%;
}
main#home .services .sln-datashortcode--services .sln-datalist__item {
  display: grid;
  grid-template-columns: auto 50px 31px;
  align-items: center;
}
main#home .services .sln-datashortcode--services .sln-datalist__item:hover {
  background-color: rgba(190, 190, 190, 0.12);
}
main#home .services .sln-datashortcode--services .sln-datalist__item:hover > .sln-datalist__item__actions > a::before {
  transform: scale(1.2);
}
main#home .services .sln-datashortcode--services .sln-datalist__item__name {
  margin-right: 10px;
  text-transform: capitalize;
}
main#home .services .sln-datashortcode--services .sln-datalist__item__actions {
  display: flex;
  align-items: center;
}
main#home .services .sln-datashortcode--services .sln-datalist__item__actions > a {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
main#home .services .sln-datashortcode--services .sln-datalist__item__actions > a::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-image: url("../images/icons/booking.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  filter: invert(1);
}
main#home .services .sln-datashortcode--services .sln-datalist__item__image, main#home .services .sln-datashortcode--services .sln-datalist__item__description, main#home .services .sln-datashortcode--services .sln-datalist__item__duration, main#home .services .sln-datashortcode--services .sln-datalist__item__price > span:first-child {
  display: none;
}
main#home .hours {
  border-top: 1px solid rgba(204, 204, 204, 0.3019607843);
  padding-top: 25px;
}
main#home .brands {
  background-color: #232729;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main#home .brands h2, main#home .brands main#contactus dt, main#contactus main#home .brands dt {
  color: #fff;
}
main#home .brands ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 175px);
  justify-items: center;
  justify-content: center;
  gap: 20px 10px;
}
main#home .brands ul li {
  background: rgba(0, 0, 0, 0.12);
  padding: 10px;
  filter: opacity(0.5);
}
main#home .brands ul li:hover {
  filter: opacity(1);
}
main#home .brands ul img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  filter: invert(1);
}
main#home .products {
  background-color: #232729;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main#home .products h2, main#home .products main#contactus dt, main#contactus main#home .products dt {
  color: #fff;
}
main#home .products ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 320px));
  justify-items: center;
  justify-content: center;
  gap: 20px 10px;
  color: #fff;
}
main#home .products ul li {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  gap: 10px;
  background: rgba(0, 0, 0, 0.1803921569);
  padding: 20px;
  filter: opacity(0.5);
}
main#home .products ul li:hover {
  filter: opacity(1);
}
main#home .products ul img {
  width: 320px;
  height: auto;
  object-fit: contain;
  object-position: center;
}
@media screen and (min-width: 981px) {
  main#home .services .sln-datashortcode--services .sln-datalist {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1100px) {
  main#home .services-hours-wrapper {
    grid-template-columns: 300px minmax(320px, 65%);
    justify-content: space-between;
  }
  main#home .hours {
    order: -1;
    border-top: none;
    padding-top: 0;
  }
}

main#contactus .info {
  background-color: #f1f1f1;
}
main#contactus .container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 30px 50px;
}
main#contactus dd a {
  text-decoration: none;
  font-weight: 600;
  color: #15191e;
}
main#contactus dd a:hover {
  text-decoration: underline;
  color: #e3bd6a;
}
main#contactus .hours {
  border-top: 1px solid rgba(204, 204, 204, 0.3019607843);
  padding-top: 25px;
}
main#contactus .social {
  border-top: 1px solid rgba(204, 204, 204, 0.3019607843);
  padding-top: 25px;
}
main#contactus .social a {
  display: inline-block;
  width: 35px;
  height: 35px;
}
main#contactus .social a img {
  width: 100%;
  height: 100%;
}
main#contactus .social a:hover {
  transform: scale(1.1);
}
main#contactus .social dd {
  display: flex;
  gap: 15px;
}
main#contactus .map {
  box-shadow: 0px 4px 10px -1px #111;
}
@media screen and (min-width: 981px) {
  main#contactus .container {
    grid-template-columns: repeat(3, auto);
  }
  main#contactus .social, main#contactus .hours {
    padding-top: 0;
    border-top: none;
  }
}

main#aboutus .info {
  background-color: #f1f1f1;
}
main#aboutus .info .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "image" "content";
  align-items: center;
}
main#aboutus .info .container h2, main#aboutus .info .container main#contactus dt, main#contactus main#aboutus .info .container dt {
  grid-area: title;
  height: fit-content;
}
main#aboutus .info .container img {
  grid-area: image;
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 30px;
}
main#aboutus .info .container > div {
  grid-area: content;
}
main#aboutus .info .container p:not(:last-of-type) {
  margin-bottom: 20px;
}
@media screen and (min-width: 981px) {
  main#aboutus .info .container {
    grid-template-columns: 1fr 400px;
    grid-template-areas: "title image" "content image";
    gap: 20px 50px;
  }
  main#aboutus .info .container h2, main#aboutus .info .container main#contactus dt, main#contactus main#aboutus .info .container dt {
    margin-bottom: 0px;
  }
  main#aboutus .info .container img {
    margin-bottom: 0px;
  }
}

main#gallerypage h2, main#gallerypage main#contactus dt, main#contactus main#gallerypage dt {
  margin: 0 auto 50px;
}
main#gallerypage figure.wp-block-gallery {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(107px, auto));
}
main#gallerypage figure.wp-block-gallery > figure {
  width: 100% !important;
  height: 100%;
  min-height: 119px !important;
  overflow: hidden;
  aspect-ratio: 1;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: #111;
  padding: 5px;
}
main#gallerypage figure.wp-block-gallery > figure:hover {
  transform: scale(1.02);
}
main#gallerypage figure.wp-block-gallery img {
  width: 100%;
  height: 100%;
}
main#gallerypage figure.wp-block-gallery figcaption {
  visibility: hidden;
}
main#gallerypage dialog#galleryDialog {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  border: none;
  background-color: transparent;
  overflow: hidden;
  gap: 30px;
}
main#gallerypage dialog#galleryDialog[open] {
  display: flex;
}
main#gallerypage dialog#galleryDialog > img, main#gallerypage dialog#galleryDialog .image-caption {
  width: clamp(320px, 100%, 700px);
  backdrop-filter: blur(2px);
  height: auto;
  position: relative;
  z-index: 2;
}
main#gallerypage dialog#galleryDialog .image-caption {
  text-align: center;
  color: #fff;
  text-transform: initial;
}
main#gallerypage dialog#galleryDialog .controls {
  position: absolute;
  inset: 6px 5px;
  width: calc(100% - 10px);
  height: calc(100% - 15px);
}
main#gallerypage dialog#galleryDialog .controls button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 10px);
  background-color: transparent;
  border: none;
  filter: drop-shadow(0px 2px 3px black);
  z-index: 3;
}
main#gallerypage dialog#galleryDialog .controls button:active, main#gallerypage dialog#galleryDialog .controls button:focus {
  outline: none;
}
main#gallerypage dialog#galleryDialog .controls button:hover {
  transform: scale(1.3);
}
main#gallerypage dialog#galleryDialog .controls button[value=prev] {
  left: 0px;
}
main#gallerypage dialog#galleryDialog .controls button[value=next] {
  right: 0px;
}
main#gallerypage dialog#galleryDialog .controls button[value=close] {
  right: 10px;
  top: 0;
}
main#gallerypage dialog#galleryDialog .controls button > img {
  width: 100%;
  height: 100%;
}
main#gallerypage dialog#galleryDialog::backdrop {
  background: rgba(0, 0, 0, 0.85);
}
@media screen and (min-width: 768px) {
  main#gallerypage figure.wp-block-gallery {
    padding: 0 70px 41px;
    grid-template-columns: repeat(3, minmax(107px, auto));
  }
  main#gallerypage figure.wp-block-gallery > figure {
    min-height: 300px;
  }
}
@media screen and (min-width: 981px) {
  main#gallerypage figure.wp-block-gallery {
    grid-template-columns: repeat(4, minmax(107px, auto));
  }
}

/*# sourceMappingURL=styles.css.map */
