/* ---- site variables ---- */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Poppins:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

ul,
ol {
  list-style: none;
}

h1, h2, h3, footer.main dt {
  font-family: "Poppins", sans-serif;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 44px;
  line-height: 53px;
}

h2 {
  font-size: 36px;
  line-height: 43px;
}

h3, footer.main dt {
  font-size: 18px;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #15191e;
}

.btn {
  display: inline-block;
  border: 6px solid #fff;
  background-color: #111111;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 5px 10px;
  font-size: 18px;
  width: fit-content;
  height: 52px;
}

.container {
  padding: 25px;
  width: clamp(360px, 100%, 1366px);
  margin: 0 auto;
}

@keyframes expandHeader {
  0% {
    height: 72px;
    background-color: #111111;
  }
  100% {
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8901960784);
  }
}
@keyframes closeHeader {
  0% {
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8901960784);
  }
  100% {
    height: 72px;
    background-color: #111111;
  }
}
@keyframes showMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header.main {
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  overflow: hidden;
  z-index: 1;
}
header.main .container {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-areas: "hamburger booknow" "menuwrapper menuwrapper";
  align-content: start;
  padding: 0;
}
header.main .container > * {
  padding: 10px;
}
header.main #hamburger {
  grid-area: hamburger;
  display: flex;
  align-items: center;
  height: 72px;
}
header.main #hamburger img {
  width: 32px;
  height: 32px;
}
header.main #hamburger .close {
  display: none;
}
header.main .menu-wrapper {
  grid-area: menuwrapper;
  padding: 10px 20px;
  opacity: 0;
}
header.main .menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
header.main .menu li {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  border-bottom: 1px solid rgba(240, 207, 133, 0.1215686275);
}
header.main .menu li.current-menu-item a {
  color: #F0CF85;
}
header.main .menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-transform: uppercase;
}
header.main .menu a:hover {
  text-decoration: underline;
  color: #F0CF85;
}
header.main .booknow {
  grid-area: booknow;
  display: flex;
  justify-content: flex-end;
  background-color: #F0CF85;
  position: relative;
  height: 72px;
}
header.main .booknow::before {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 86px;
  border-right-color: #F0CF85;
  border-top-width: 157px;
  position: absolute;
  left: -74px;
  top: -85px;
}
header.main .booknow .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header.main .booknow .btn:hover {
  filter: invert(1);
}
header.main .booknow img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 980px) {
  body.open-menu header.main {
    animation-name: expandHeader;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
  }
  body.open-menu header.main #hamburger .close {
    display: block;
  }
  body.open-menu header.main #hamburger .open {
    display: none;
  }
  body.open-menu header.main .menu-wrapper {
    animation-name: showMenu;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
  }
  body.close-menu header.main {
    animation-name: closeHeader;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  body.close-menu header.main .menu-wrapper {
    animation-name: hideMenu;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
  }
}
@media screen and (min-width: 981px) {
  header.main .container {
    grid-template-areas: "menuwrapper booknow";
  }
  header.main #hamburger {
    display: none;
  }
  header.main .menu-wrapper {
    opacity: 1;
  }
  header.main .menu {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 50px;
  }
  header.main .menu li {
    border: none;
  }
}
footer.main {
  margin-top: 300px;
  background-color: #111111;
  font-size: 16px;
}
footer.main .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
footer.main h3,
footer.main dt,
footer.main a {
  color: #fff;
  text-decoration: none;
}
footer.main dt {
  margin-bottom: 10px;
}
footer.main .social a {
  display: inline-block;
  width: 35px;
  height: 35px;
}
footer.main .social a img {
  width: 100%;
  height: 100%;
  filter: invert(1);
}
footer.main .social a:hover {
  transform: scale(1.1);
}
footer.main .social dd {
  display: flex;
  gap: 15px;
}
footer.main dd, footer.main .other-links-wrapper > div {
  padding-left: 10px;
}
footer.main dd a:hover, footer.main .other-links-wrapper > div a:hover {
  color: #F0CF85;
  text-decoration: underline;
}
footer.main .current-menu-item a {
  color: #F0CF85;
}
@media screen and (min-width: 981px) {
  footer.main .container {
    grid-template-columns: repeat(3, 1fr);
  }
  footer.main .social {
    justify-self: center;
  }
  footer.main .other-links-wrapper {
    justify-self: end;
  }
}

main#page h2 {
  display: block;
  margin: auto;
}
main#page section.gallery h2::before {
  background-image: url(../images/icons/icon-gallery.png);
}

/*# sourceMappingURL=styles.css.map */
